<section id="nieuws" class="nieuws-section">

  <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <img src="img/MOS OP DE MUUR.png">
             <div class="carousel-caption">
              <h4><a href="http://stadslab2050.be/klimaatadaptatie/eerste-idee%C3%ABn-sint-andries/mosmannn-zoekt-grote-gevel-voor-mosinstallatie">Mosman zoekt grote gevel voor mosinstallatie</a></h4>
              <p>Mosman, dat is Joachim Sohie, een Antwerpse ontwerper die 3D kunstwerkjes maakt met mos.

Maar Joachim zou het ook groot kunnen zien. Als we nu eens een noordelijk georienteerde muur zouden vergroenen met mos. En dit dagelijks besproeien met regenwater dat we opvangen op het dak?

Dan slaan we 2 vliegen in 1 klap: we vergroenen een moeilijke gevel en houden water langer vast in de stad. <a class="label label-primary" href="http://stadslab2050.be/klimaatadaptatie/eerste-idee%C3%ABn-sint-andries/mosmannn-zoekt-grote-gevel-voor-mosinstallatie" target="_blank">Lees verder</a></p>
            </div>
          </div><!-- End Item -->

          <div class="item">
            <img src="img/MOS IN DE STAD.png">
             <div class="carousel-caption">
              <h4><a href="http://www.gva.be/cnt/dmf20170615_02926791/deze-antwerpse-kunstenaar-maakt-van-meer-mos-in-de-stad-zijn-missie">Meer mos in de stad. Dat is het doel van de nieuwe vzw De Mosfabriek.</a></h4>
              <p>Joachim Sofie is druk bezig in zijn serre in Berchem, waar hij binnenkort wegmoet. “We denken als nieuwe locatie onder meer aan een gebied van 1 hectare aan de Stadsboerderij in Wilrijk of aan de kelders van de kerk in de Sint-Amandusstraat.”
Foto: Dirk Kerstens <a class="label label-primary" href="http://www.gva.be/cnt/dmf20170615_02926791/deze-antwerpse-kunstenaar-maakt-van-meer-mos-in-de-stad-zijn-missie" target="_blank">Lees verder</a></p>
            </div>
          </div><!-- End Item -->

           <div class="item">
            <img src="img/MOS IN DE TUIN.png">
             <div class="carousel-caption">
              <h4><a href="https://stadstuinieren.wordpress.com/tag/mosman/">De Mosfabriek tegen fijn stof</a></h4>
              <p>Van mos is het geweten dat de plant goed is om het fijn stof uit de lucht te halen. Maar welke mossoort het efficiëntste werkt en hoe je die het beste kweekt, daar is veel minder informatie over te vinden.

Mosman Joachim doet sinds november vorig jaar onderzoek naar de beste kweekmethodes van mos. Universiteit Antwerpen heeft interesse getoond om dit najaar samen te werken rond een onderzoeksproject over de impact van mos op de luchtkwaliteit in de stad.<a class="label label-primary" href="https://stadstuinieren.wordpress.com/tag/mosman/" target="_blank">Lees verder</a></p>
            </div>
          </div><!-- End Item -->

          <div class="item">
            <img src="img/MOS ALS MINILANDSCHAP.png">
             <div class="carousel-caption">
              <h4><a href="#">... een balans tussen chaos en rust. </a></h4>
              <p>Mosman is een project van Joachim Sohie. Hij maakt micro-landschappen met mos en wat hij maar kan vinden.

Deze stijl van 3D-sculpturen is geïnspireerd op Japanse kunstvormen zoals bonkei en saikei. Dit zijn substijlen van de bonsai die al ruim 500 jaar bestaan in Japan. Deze kunstvorm schept voor Joachim een balans tussen chaos en rust. <a class="label label-primary" href="http://www.makercity.be/maker/mosman" target="_blank">Lees verder</a></p>
            </div>
          </div><!-- End Item -->


        </div><!-- End Carousel Inner -->


      <ul class="list-group col-sm-4">
        <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Mosman zoekt grote gevel voor mosinstallatie</h4></li>
        <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Meer mos in de stad. Dat is het doel van de nieuwe vzw De Mosfabriek.</h4></li>
        <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>De Mosfabriek tegen fijn stof</h4></li>
        <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>... een balans tussen chaos en rust. </h4></li>
      </ul>

        <!-- Controls -->
        <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

      </div><!-- End Carousel -->
  </div>

</section>
